
body{
    margin: 0px;
    
    background-color: #5e6668;    
}
/* \/ \/ \/для HEADER \/ \/ \/ */
header{
    width: 100%;
    height: 760px;
    margin-bottom: 50px;
}

.header-img{
    background-image: url("../img/index/omni-guitar-tuition-11.jpg");
    width: 100%;
    height: 760px;
    background-size: cover;
    animation: header-background-img-ani 60s infinite;
}
@keyframes header-background-img-ani{
    0%{ background-image: url("../img/index/omni-guitar-tuition-11.jpg");}
    25%{background-image: url("../img/index/metallist1920x1080.jpg");}
    50%{background-image: url("../img/index/guitar-and-hands.jpg");}
    75%{background-image: url("../img/index/sid-vicious.jpg");}
/*    90%{background-image: url("../img/index/sid-vicious.jpg");}*/
    100%{ background-image: url("../img/index/omni-guitar-tuition-11.jpg");} 
}
.header-opasity-color{
 background: rgb(94,102,104);
background: linear-gradient(180deg, rgba(94,102,104,0.25) 0%, rgba(94,102,104,0.5) 20%, rgba(94,102,104,0.75) 45%, rgba(94,102,104,0.9) 70%, rgba(94,102,104,1) 100%);
    width: 100%;
    height: 770px;
   position: absolute;
/*   bottom: 159px;*/
    
}
.header-txt{
    color: #f6fafb;
    font-family: 'IBM Plex Sans', sans-serif;
   text-shadow: 1px 1px 2px black;
    font-size: 84px;
    text-align: center;
    position: relative;
    top: 230px;
    margin: 0px;
}
/* \/ \/ \/ Для nav \/ \/ \/ */

nav{
/*    position: fixed;*/
/*    top:100%;*/
    width: 100%;
    height: 140px;
    margin: auto;
    background-color: #252b31;
/*    margin-bottom: 100px;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
/*    border-radius: 10px;*/
}
.nav-button{
    width: 200px;
    height: 65px;
/*   border: 5px solid white;*/
    border-bottom: 5px solid white;
    border-top: 5px solid white;
/*    border-radius: 15px;*/
    
    margin: 0 50px;
    text-decoration: none;
    color: #f6fafb;
    font-size: 32px;
    text-align: center;
    vertical-align: center;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-button:hover{
    background-color: #f6fafb;
    color: #252b31;
/*     height: 75px;*/
/*    border: 10px solid #f6fafb;*/ 
    height: 130px;
}

.nav-button:active{
    border: 5px solid #252b31;
}

/* \/ \/ \/ Для main \/ \/ \/ */

main{
    width: 90%;
    margin: auto;
    margin-bottom: 100px;
    padding: 20px;
    border-right: 5px solid #d49c6b;
    border-left: 5px solid #d49c6b;
}
.maintxt-h1{
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
     color: #f6fafb;
    font-size: 46px;
}
.maintxt-p{
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
     color: #f6fafb;
    font-size: 40px;
}
.main-img{
    height: 480px;
    width: 640px;
    margin: auto;
    margin-bottom: 10px;
    background-image: url("../img/index/shalash.jpg");
    border-radius: 10px;
    box-shadow: 1px 1px 2px black;
}

/*Для article в main \/ \/ */
article{
    margin: 20px;
    padding: 20px;
}
.article-top-border{
    border-top: 2px dotted #d49c6b;
}
.main-article-lenta{
    width: 100%;
    height: 250px;
    background-color: #252b31;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.lenta-block{
   width: 300px;
    height: 200px;
    margin: 50px;
    transition: 0.5s;
}
.one{
    background-color: aliceblue;
     
}
.two{
/*    background-color: aliceblue;*/
    background-image: url(../img/article/novichekSgitaroy.jpg);
    background-size: cover;
     
}
.three{
    background-color: aliceblue;
        
}
.lenta-block:hover{
    width: 400px;
}

/* \/ \/ \/ footer \/ \/ \/*/

footer{
    margin-top: 20px;
    height: 100px;
    background-color: #d49c6b;
}
.foo-txt{
    font-family: 'IBM Plex Sans', sans-serif;
     color: #f6fafb;
    font-size: 24px;
}
.foo-txt-2{
    text-align: right;
    font-family: 'IBM Plex Sans', sans-serif;
     color: #f6fafb;
    font-size: 24px;
}



/* АДаптивность      */





@media(max-width: 1200px) and (min-width: 701px){
    
header{
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
}

.header-img{
    background-image: url("../img/index/omni-guitar-tuition-11.jpg");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    animation: header-background-img-ani 60s infinite;
}
@keyframes header-background-img-ani{
    0%{ background-image: url("../img/index/omni-guitar-tuition-11.jpg");}
    25%{background-image: url("../img/index/metallist1920x1080.jpg");}
    50%{background-image: url("../img/index/guitar-and-hands.jpg");}
    75%{background-image: url("../img/index/sid-vicious.jpg");}
/*    90%{background-image: url("../img/index/sid-vicious.jpg");}*/
    100%{ background-image: url("../img/index/omni-guitar-tuition-11.jpg");} 
}
.header-opasity-color{
 background: rgb(94,102,104);
background: linear-gradient(180deg, rgba(94,102,104,0.25) 0%, rgba(94,102,104,0.5) 20%, rgba(94,102,104,0.75) 45%, rgba(94,102,104,0.9) 70%, rgba(94,102,104,1) 100%);
    width: 100%;
    height: 500px;
   position: absolute;
/*   bottom: 159px;*/
    
}
.header-txt{
    color: #f6fafb;
    font-family: 'IBM Plex Sans', sans-serif;
   text-shadow: 1px 1px 2px black;
    font-size: 55px;
    text-align: center;
    position: relative;
    top: 200px;
    margin: 0px;
}
 
nav{
/*    position: fixed;*/
/*    top:100%;*/
    width: 100%;
    height: 120px;
    margin: auto;
    background-color: #252b31;
/*    margin-bottom: 100px;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
/*    border-radius: 10px;*/
}
.nav-button{
    width: 100px;
    height: 60px;
/*   border: 5px solid white;*/
    border-bottom: 5px solid white;
    border-top: 5px solid white;
/*    border-radius: 15px;*/
    
    margin: 10px 30px;
    text-decoration: none;
    color: #f6fafb;
    font-size: 20px;
    text-align: center;
    vertical-align: center;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-button:hover{
    background-color: #f6fafb;
    color: #252b31;
    width: 200px;
/*     height: 75px;*/
/*    border: 10px solid #f6fafb;*/ 
    height: 60px;
}

.nav-button:active{
    border: 5px solid #252b31;
}
    
    
    
}



@media(max-width: 700px){
    
header{
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}

.header-img{
    background-image: url("../img/index/omni-guitar-tuition-11.jpg");
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    animation: header-background-img-ani 60s infinite;
}
@keyframes header-background-img-ani{
    0%{ background-image: url("../img/index/omni-guitar-tuition-11.jpg");}
    25%{background-image: url("../img/index/metallist1920x1080.jpg");}
    50%{background-image: url("../img/index/guitar-and-hands.jpg");}
    75%{background-image: url("../img/index/sid-vicious.jpg");}
/*    90%{background-image: url("../img/index/sid-vicious.jpg");}*/
    100%{ background-image: url("../img/index/omni-guitar-tuition-11.jpg");} 
}
.header-opasity-color{
 background: rgb(94,102,104);
background: linear-gradient(180deg, rgba(94,102,104,0.25) 0%, rgba(94,102,104,0.5) 20%, rgba(94,102,104,0.75) 45%, rgba(94,102,104,0.9) 70%, rgba(94,102,104,1) 100%);
    width: 100%;
    height: 300px;
   position: absolute;
/*   bottom: 159px;*/
    
}
.header-txt{
    color: #f6fafb;
    font-family: 'IBM Plex Sans', sans-serif;
   text-shadow: 1px 1px 2px black;
    font-size: 34px;
    text-align: center;
    position: relative;
    top: 120px;
    margin: 0px;
}
 
nav{
/*    position: fixed;*/
/*    top:100%;*/
    width: 100%;
    height: 420px;
    margin: auto;
    background-color: #252b31;
/*    margin-bottom: 100px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
/*    border-radius: 10px;*/
}
.nav-button{
    width: 100px;
    height: 60px;
/*   border: 5px solid white;*/
    border-bottom: 5px solid white;
    border-top: 5px solid white;
/*    border-radius: 15px;*/
    
    margin: 10px 30px;
    text-decoration: none;
    color: #f6fafb;
    font-size: 20px;
    text-align: center;
    vertical-align: center;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-button:hover{
    background-color: #f6fafb;
    color: #252b31;
    width: 200px;
/*     height: 75px;*/
/*    border: 10px solid #f6fafb;*/ 
    height: 60px;
}

.nav-button:active{
    border: 5px solid #252b31;
}
    
    
    
}

